/out/production/certificacao-java/test/B.class
/out/production/certificacao-java/test/BCTest.class
/out/production/certificacao-java/test/C.class
/out/production/certificacao-java/test/ColorBlack.class
/out/production/certificacao-java/test/ColorGold.class
/out/production/certificacao-java/test/ColorRed.class
/out/production/certificacao-java/test/ColorTest.class
/out/production/certificacao-java/multiples/Interface1.class
/out/production/certificacao-java/multiples/Interface2.class
/out/production/certificacao-java/test/Person.class
/out/production/certificacao-java/multiples/Test.class
/out/production/certificacao-java/test/Test13.class
/out/production/certificacao-java/test/Test14.class
/out/production/certificacao-java/test/Test15.class
/out/production/certificacao-java/test/Test16.class
/out/production/certificacao-java/test/Test17.class
/out/production/certificacao-java/test/Test18.class
/out/production/certificacao-java/test/Test19.class
/out/production/certificacao-java/test/Test20.class
/out/production/certificacao-java/test/Test21.class
/out/production/certificacao-java/test/Test22.class
/out/production/certificacao-java/test/Test23.class
